<div class="container">
  <div class="row">
    <div class="card mt-5 col-md-8 m-auto">
      <form (ngSubmit)="onSubmit(myForm)" class="m-4" #myForm="ngForm">
        <h1>Form Submission</h1>
        <input type="text" name="fname" class="form-control mb-3" placeholder="First Name" ngModel required>
        <input type="text" name="lname" class="form-control mb-3" placeholder="Last Name" ngModel required>
        <input type="text" name="username" class="form-control mb-3" placeholder="Username" ngModel required>
        <input type="email" name="email" class="form-control mb-3" placeholder="Email" ngModel required>
        <input type="tel" name="number" class="form-control mb-3" placeholder="Mobile" ngModel required>
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" ngModel required>
        <select name="visibility" id="" ngModel>
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
        <button type="submit" class="col-md-12 btn btn-primary" [disabled]="!myForm.valid">Submit</button>
      </form>
    </div>
  </div>
  <app-showuser #childData></app-showuser>
</div>

<style>
  input.ng-invalid.ng-touched {
    border: 1px solid red!important;

    &::placeholder {
      color: red!important;
    }
  }

  small {
    color: red;
  }

</style>